.btn {
  background-color: #ec5a13;
  border-radius: 4px;
  border:none;
  padding: 8px 12px 8px 12px;
  color: #FFFF;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  &:hover {
    background-image: linear-gradient(rgb(0 0 0/20%) 0 0);
  }
}