.container-input {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-left: 4rem;
  .input-title {
    margin-bottom: 1rem;
  }
  input {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #a8b4c0;
  }
  input:focus {
    border-color: #ec5a13;
  }
}